.speech, .speech:visited { display: none; }
a.speechbox-ad-link { display: none; }
.message-container > .ad { display: none; }



h1.rainbow-text {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-size: 2em;
  width: 5em;
  line-height: 0.9em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
}


/* Style the rainbow text element. */
.rainbow-text {
  /* Create a conic gradient. */
  /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
  background: #CA4246;
  text-align: center;
  background-color: #CA4246;
  background: conic-gradient(
    #CA4246 16.666%, 
    #E16541 16.666%, 
    #E16541 33.333%, 
    #F18F43 33.333%, 
    #F18F43 50%, 
    #8B9862 50%, 
    #8B9862 66.666%, 
    #476098 66.666%, 
    #476098 83.333%, 
    #A7489B 83.333%);
  
  /* Set thee background size and repeat properties. */
  background-size: 57%;
  background-repeat: repeat;
  
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-animation-rev 0.5s ease forwards;

  cursor: pointer;
}

/* Add animation on hover. */
.rainbow-text:hover {
  animation: rainbow-text-animation 0.5s ease forwards;
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-animation {
  0% {
    background-size: 57%;
    background-position: 0 0;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 300%;
    background-position: -9em 1em;
  }
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-animation-rev {
  0% {
    background-size: 300%;
    background-position: -9em 1em;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 57%;
    background-position: 0 0;
  }
}


svg#flower-frame {
  height: 90vh;
  width: 100%;
}



#Footer_group_1_,
[id^=PinkFlowerGroup],
[id^=BaseGroup] path,
[id^=LeafGroup] path,
path[id^=Stroke],
g[id^=BudGroup] g[id^=BudGroup] g[id^=Bud],
#Bud8_1_,
#Bud10_1_,
#Bud23_1_,
#Bud26_1_,
[id^=Dots],
[id^=Flourish] {
  visibility: hidden;
}



@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap');
.main {
  direction:rtl;
  font-family: 'Noto Sans Arabic', sans-serif;
}
.main{
  direction:rtl;
  font-family: 'Noto Sans Arabic', sans-serif;
  width: 60%;
  margin:10px auto;
  padding: 10px;
  background: #fff;
}
.main h2{
  position:relative;
}
.main h2:after{
  content:"";
  width: 2px;
  height: 100%;
  background: #333;
  position: absolute;
  opacity: 0;
  animation:cursor 0.5s infinite;
}
@keyframes cursor{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#text-rtl {
  font-size: 16px;
  direction:rtl;
  color: #000000;
}

.text-color-dark {
  color: #000000;
}
