body {
  font-family: 'Cursive', cursive;
font-family: 'Cursive', serif; 
  color:#000;
  background-color:white;
  text-align: center;
}

.title {
  font-family: Playwrite AU VIC;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}
